.vui-stepper {
  --vui-stepper-active-color: var(--color-accent);
  --vui-stepper-color: var(--color-text-lightest);
  --vui-stepper-size: 8px;

  display: flex;
  gap: var(--space-xxs);

  .vui-stepper-item {
    height: var(--vui-stepper-size);
    width: var(--vui-stepper-size);
    transition: all var(--transition-slow);
    background-color: var(--color-text-lightest);
    border-radius: var(--border-radius-pill);

    &.active {
      width: 16px;
      background-color: var(--color-accent);
    }
  }
}
