.vui-radio {
  --radio-size: 24px;

  &.checked {
    .vui-radio-icon svg {
      color: var(--color-text);
    }
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;

    .vui-radio-icon svg path {
      color: var(--color-text-lighter) !important;
    }

    input + label p {
      color: var(--color-text-lighter);
    }
  }

  .vui-radio-icon {
    cursor: pointer;
    width: var(--radio-size);
    height: var(--radio-size);

    svg {
      width: 100%;
      height: 100%;
      color: var(--color-text);
    }
  }

  input {
    display: none;

    & + label {
      display: grid;
      grid-template-columns: 20px 1fr;
      gap: 10px;
      font-size: var(--font-size-m);
      color: var(--color-text);
      user-select: none;

      .vui-radio-content {
        display: block;

        &:is(p) {
          display: flex;
          align-items: center;
          min-height: var(--radio-size);
          // line-height: var(--radio-size);
        }
      }
    }
  }
}
