.vui-input-container {
  // Each component should have its own specification as it allows more granual
  // modification via CSS variables if needed
  --input-color-text-red: var(--color-text-red);
  --input-color-text: var(--color-text);
  --input-color-text-light: var(--color-text-light);
  --input-color-text-lighter: var(--color-text-lighter);
  --input-color-border: var(--color-border);
  --input-color-border-strong: var(--color-border-strong);
  --input-color-border-weak: var(--color-border-weak);

  --input-height: 34px;
  --input-padding: 8px;
  --textarea-padding: 8px;

  //

  width: 224px;

  &.expand {
    width: 100%;
  }

  &.required .vui-input > label:after {
    content: '*';
    color: var(--input-color-text-red);
  }

  &.readonly .vui-input input {
    pointer-events: none;
    color: var(--input-color-text-light);
    border-color: var(--input-color-border-weak);
  }

  &.has-errors {
    .vui-input {
      .vui-input-style,
      textarea {
        border-color: var(--color-text-red) !important;
      }
    }
  }

  .vui-input {
    label {
      display: block;
      text-align: left;
      margin-bottom: 8px;
      font-size: var(--font-size-ms);
      color: var(--input-color-text);
    }

    .vui-input-hint {
      margin-bottom: 8px;
      margin-top: -4px;
      color: var(--input-color-text-lighter);
      font-size: var(--font-size-s);
      display: block;
      text-align: left;
    }

    ::placeholder {
      font-weight: 400;
      color: var(--color-text-lighter);
      font-family: var(--global-font);
    }

    .vui-input-style,
    textarea {
      display: block;
      border-radius: var(--border-radius-s);
      border: 1px solid var(--input-color-border);
      background: transparent;
      height: var(--input-height);
      line-height: var(--input-height);
      color: var(--color-text);
      outline: none !important;
      padding-inline: var(--input-padding);
      font-size: var(--font-size-ms);
      width: 100%;
      transition: var(--transition);

      &:has(input:focus-visible),
      &:focus-visible {
        border-color: var(--input-color-border-strong);
      }
    }

    input,
    textarea {
      font-family: var(--global-font);
    }

    input[type='file']::file-selector-button {
      background-color: var(--color-bg);
      color: var(--color-text);
      border: none;
    }

    input {
      display: block;
      width: 100%;
      border: none;
      height: calc(var(--input-height) - 1px);
      line-height: calc(var(--input-height) - 1px);
      background: transparent;
      outline: none;
      font-size: var(--font-size-ms);
      color: var(--color-text);

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px var(--color-bg) inset;
        -webkit-text-fill-color: var(--color-text);
      }
    }

    textarea {
      line-height: 1.3em;
      height: auto;
      min-height: 4lh;
      field-sizing: content;
      padding: var(--textarea-padding);
      transition: none;
    }
  }

  .vui-input-limit {
    display: block;
    margin-top: 6px;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--input-color-text-lighter);
  }

  .vui-input-errors {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 6px;

    li {
      display: block;
      font-size: var(--font-size-s);
      color: var(--color-text-red);
    }
  }

  &.vui-dropzone {
    &.dragging .vui-input .vui-input-style {
      border-color: var(--color-border-accent);

      &:hover {
        border-color: var(--color-border);
      }
    }
    .vui-input {
      .vui-input-style {
        height: unset;
        border-width: 2px;
        border-style: dashed;
        border-radius: var(--border-radius-m);
        line-height: 1.2em;

        &:hover {
          border-color: var(--color-border-strong);
        }

        input {
          display: none;

          & + label {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 96px;
            color: var(--color-text-light);
          }
        }
      }
    }
  }
}
