:root {
  /* Color properties */
  --color-black: #e0e0e0;
  --color-white: #0a0a0a;

  --color-bg: #111111;
  --color-bg-light: #191919;
  --color-bg-light-hover: #1f1f1f;

  --color-border: #272727;
  --color-border-light: #2d2d2d;

  --color-text: #e7e7e7;
  --color-text-light: #9e9e9e;
  --color-text-lighter: #646464;
  --color-text-invert: #111111;

  --color-accent: #fc8dc7;
  --color-accent-bg: #551639;
  --color-accent-light: #ffd7eb;

  --color-red: #f47068;
  --color-red-bg: #420b0c;

  --color-green: #57ab5a;
  --color-green-bg: #103417;

  --color-orange: #e0823d;
  --color-orange-bg: #3d1909;

  --color-blue: #529bf5;
  --color-blue-bg: #0d2040;

  --color-purple: #b083f0;
  --color-purple-bg: #23163e;

  --shadow: 0 4px 15px rgba(8, 8, 8, 0.25);
  --shadow2: 0 4px 15px rgba(8, 8, 8, 0.4);
}

:root {
  --radius-hg: 15px;
  --radius-lg: 10px;
  --radius-sm: 4px;
  --radius-tn: 3px;
}
