.vui-badge {
  --vui-badge-padding-block: 2px;
  --vui-badge-padding-inline: var(--space-s);
  --vui-badge-font-size: var(--font-size-s);

  display: inline-flex;
  gap: var(--space-s);
  place-items: center;
  padding-inline: var(--vui-badge-padding-inline);
  padding-block: var(--vui-badge-padding-block);
  border-radius: 999px;
  font-size: var(--vui-badge-font-size);
  color: var(--color-text);
  border: 1px solid transparent;

  svg,
  path {
    color: var(--color-text);
  }

  &.filled {
    font-weight: 500;
  }

  &.vui-badge-variant-neutral {
    &:not(.outline) {
      background-color: var(--color-bg-raised);

      &.filled {
        background-color: var(--color-text);
        color: var(--color-text-invert);
        border-color: transparent;
      }
    }

    color: var(--color-text);
    // border: 1px solid var(--color-border);
  }

  &.vui-badge-variant-info {
    color: var(--color-text-blue);

    svg,
    path {
      color: var(--color-text-blue);
    }

    &:not(.outline) {
      background-color: hsla(from var(--color-bg-blue-raised) h s l / 0.2);

      &.filled {
        background-color: var(--color-text-blue);
        color: var(--color-text-invert);

        svg,
        path {
          color: var(--color-text-invert);
        }
      }
    }

    &.outline {
      border-color: var(--color-text-blue);
    }
  }

  &.vui-badge-variant-success {
    color: var(--color-text-green);

    svg,
    path {
      color: var(--color-text-green);
    }

    &:not(.outline) {
      background-color: hsla(from var(--color-bg-green-raised) h s l / 0.15);

      &.filled {
        background-color: var(--color-text-green);
        color: var(--color-text-invert);

        svg,
        path {
          color: var(--color-text-invert);
        }
      }
    }

    &.outline {
      border-color: var(--color-text-green);
    }
  }

  &.vui-badge-variant-warning {
    color: var(--color-text-yellow);

    svg,
    path {
      color: var(--color-text-yellow);
    }

    &:not(.outline) {
      background-color: hsla(from var(--color-bg-yellow-raised) h s l / 0.15);

      &.filled {
        background-color: var(--color-text-yellow);
        color: var(--color-text-invert);

        svg,
        path {
          color: var(--color-text-invert);
        }
      }
    }

    &.outline {
      border-color: var(--color-text-yellow);
    }
  }

  &.vui-badge-variant-danger {
    color: var(--color-text-red);

    svg,
    path {
      color: var(--color-text-red);
    }

    &:not(.outline) {
      background-color: hsla(from var(--color-bg-red-raised) h s l / 0.15);

      &.filled {
        background-color: var(--color-text-red);
        color: var(--color-text-invert);

        svg,
        path {
          color: var(--color-text-yellow);
        }
      }
    }

    &.outline {
      border-color: var(--color-text-red);
    }

    color: var(--color-text-red);
  }

  &.vui-badge-variant-accent {
    color: var(--color-accent);

    svg,
    path {
      color: var(--color-accent);
    }

    &:not(.outline) {
      background-color: hsla(from var(--color-bg-accent-raised) h s l / 0.15);

      &.filled {
        background-color: var(--color-accent);
        color: var(--color-text-invert);

        svg,
        path {
          color: var(--color-text-invert);
        }
      }
    }

    &.outline {
      border-color: var(--color-accent);
    }
  }
}

:root.light {
  .vui-badge.vui-badge-variant-accent:not(.outline).filled,
  .vui-badge.vui-badge-variant-warning:not(.outline).filled {
    color: var(--color-text);

    svg,
    path {
      color: var(--color-text);
    }
  }

  .vui-badge.vui-badge-variant-success:not(.filled, .outline) {
    background-color: hsla(from var(--color-text-green) h s l / 0.15);
  }

  .vui-badge.vui-badge-variant-warning:not(.outline).filled {
    background-color: var(--color-bg-yellow-raised);
  }

  .vui-badge.vui-badge-variant-success:not(.outline).filled {
    color: var(--color-text-invert);
    background-color: var(--color-text-green);

    svg,
    path {
      color: var(--color-text-invert);
    }
  }

  .vui-badge:not(.filled) {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
}
