.vui-button {
  --button-height: 32px;
  --button-padding: 8px;

  &.disabled {
    pointer-events: none;
    color: var(--color-text-lighter) !important;
    cursor: not-allowed;
    filter: saturate(50%) opacity(0.65);

    svg path {
      color: var(--color-text-lighter) !important;
    }
  }

  &.expand {
    width: 100%;
  }

  &.loading {
    .vui-spinner {
      opacity: 1;
    }

    .vui-button-slot {
      opacity: 0;
    }
  }

  &.icon {
    width: var(--button-height);
    padding: 0;

    .vui-button-slot {
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  &.square {
    width: var(--button-height);
    padding: 0;
  }

  height: var(--button-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-s);
  background: transparent;
  padding-inline: var(--button-padding);
  font-size: var(--font-size-s);
  position: relative;
  transition: var(--transition);
  border: 1px solid transparent;
  background-color: transparent;

  // Default gray

  .vui-button-slot {
    display: flex;
    place-items: center;
    transition: var(--transition);
    opacity: 1;
  }

  .vui-button-slot-start,
  .vui-button-slot-end {
    display: flex;
    place-items: center;
  }

  .vui-button-slot-start {
    margin-right: 6px;
  }

  .vui-button-slot-end {
    margin-left: 6px;
  }

  .vui-spinner {
    transition: var(--transition);
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  // Variants
  &.vui-button-variant-default {
    &:not(.plain) {
      color: var(--color-text);
      background-color: var(--color-button-gray);
      border: 1px solid var(--color-border);
    }

    &.active,
    &:hover {
      background-color: var(--color-button-gray-hover);
    }
  }

  &.vui-button-variant-danger {
    &:not(.plain) {
      color: var(--color-text);
      background-color: var(--color-bg-red-lowered);
      border: 1px solid var(--color-border-red);
    }

    &.active,
    &:hover {
      border: 1px solid var(--color-bg-red-raised);
      background-color: var(--color-bg-red-raised);
    }
  }

  &.vui-button-variant-success {
    &:not(.plain) {
      color: var(--color-text);
      background-color: var(--color-bg-green-lowered);
      border: 1px solid var(--color-border-green);
    }

    &.active,
    &:hover {
      border: 1px solid var(--color-bg-green-raised);
      background-color: var(--color-bg-green-raised);
    }
  }

  &.vui-button-variant-blue {
    &:not(.plain) {
      color: var(--color-text);
      background-color: var(--color-bg-blue-lowered);
      border: 1px solid var(--color-border-blue);
    }

    &.active,
    &:hover {
      border: 1px solid var(--color-bg-blue-raised);
      background-color: var(--color-bg-blue-raised);
    }
  }

  &.vui-button-variant-link {
    color: var(--color-text);
    background: transparent;
    text-underline-offset: 4px;
    cursor: pointer;

    &.active,
    &:hover {
      text-decoration: underline;
    }
  }
}
