.vui-commands {
  --vui-commands-input-size: 56px;

  .vui-card .vui-card-header {
    padding: 0;
    background-color: var(--color-bg-medium);
  }

  .vui-card .vui-card-footer {
    padding: var(--space-s);
  }

  .vui-card .vui-card-content {
    max-height: 612px;
    overflow-y: auto;
    padding-block: var(--space-s) !important;
  }

  .vui-commands-input {
    position: relative;
    border-bottom: 1px solid var(--color-border);
    border-top-left-radius: var(--border-radius-m);
    border-top-right-radius: var(--border-radius-m);
    margin-bottom: var(--space-xs);

    .vui-commands-input-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);

      & > svg {
        font-size: 22px;
        color: var(--color-text-lighter);
      }
    }

    .vui-flex {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
    }

    input {
      font-family: var(--font);
      font-size: var(--font-size-m);
      color: var(--color-text);
      width: 100%;
      height: var(--vui-commands-input-size);
      line-height: var(--vui-commands-input-size);
      border: none;
      background-color: transparent;
      padding-left: 48px;
      padding-right: 128px;
      border-radius: var(--border-radius-m);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .vui-commands-group-buttons {
    padding-inline: calc(var(--space-s));
    margin-bottom: var(--space-xs);

    button {
      border-radius: var(--border-radius-pill);
      padding: 0;
    }

    .carousel .carousel-content {
      cursor: default;
      padding: 2px;
    }
  }

  .vui-commands-empty {
    padding: var(--space-xl);

    p {
      text-align: center;
      color: var(--color-text-light);
    }
  }

  .vui-commands-group {
    &:first-child .vui-commands-group-title {
      margin-top: 0;
    }
  }

  .vui-commands-group-title {
    display: block;
    padding-inline: var(--space-xs);
    margin-top: var(--space-m);
    margin-bottom: var(--space-xs);
    color: var(--color-text-lighter);
    font-size: var(--font-size-xxs);
    text-transform: uppercase;
    font-weight: var(--font-weight-semibold);
  }

  .vui-commands-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-m);
    border: 1px solid var(--color-border-weak);
    margin-inline: var(--space-xs);
    margin-bottom: var(--space-m);
    background-color: var(--color-bg-medium);
    overflow: hidden;

    &:last-of-type {
      margin-bottom: 0;
    }

    li {
      scroll-margin: 2px;
      width: 100%;

      &:hover,
      &.vui-commands-list-item-focused {
        .vui-commands-list-item {
          background-color: var(--color-bg-raised);

          .vui-commands-list-item-icon {
            color: var(--color-accent);
          }
        }
      }

      &:last-child .vui-commands-list-item {
        border-bottom: none;
      }

      .vui-commands-list-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        padding: 0 var(--space-m);
        height: 56px;
        width: 100%;
        position: relative;
        gap: var(--space-m);

        .vui-commands-list-item-icon {
          display: flex;
          align-items: center;
          font-size: var(--font-size-l);
          color: var(--color-text-light);

          .iconify {
            color: inherit !important;
          }
        }

        .vui-command-body {
          flex: 1;

          span {
            color: var(--color-text);
          }

          p {
            font-size: var(--font-size-s);
            color: var(--color-text-lighter);
          }
        }
      }
    }
  }
}
