.vui-otp {
  display: inline-block;
  position: relative;

  .vui-otp-items {
    display: inline-flex;
    gap: 0;

    .vui-otp-item {
      width: 42px;
      height: 42px;
      line-height: 40px;
      border: 1px solid var(--color-border-strong);
      text-align: center;
      color: var(--color-text);
      z-index: 1;
      font-size: var(--font-size-l);
      outline: 0 solid var(--color-text-light);
      transition: var(--transition);

      &.has-value {
        background-color: var(--color-bg-raised);
      }

      // TODO: animate blinking cursor
      &.active {
        z-index: 2;
        outline-width: 2px;
      }

      &:not(:first-child) {
        margin-left: -1px;
      }

      &:first-child {
        border-top-left-radius: var(--border-radius-m);
        border-bottom-left-radius: var(--border-radius-m);
      }

      &:last-child {
        border-top-right-radius: var(--border-radius-m);
        border-bottom-right-radius: var(--border-radius-m);
      }
    }
  }

  .vui-otp-input {
    position: absolute;
    inset: 0;
    // visibility: ;
    opacity: 0;
    outline-width: 0px;
    background: transparent;
    z-index: 5;
  }
}
