.vui-otp {
  display: inline-block;
  position: relative;

  .vui-otp-items {
    display: inline-flex;
    gap: 0;

    .vui-otp-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--interactive-el-height);
      height: var(--interactive-el-height);
      border: 1px solid var(--color-border-strong);
      color: var(--color-text);
      z-index: var(--z-default);
      font-size: var(--font-size-m);
      outline: 0 solid var(--color-text-light);
      transition: var(--transition-fast);

      .blinker {
        display: block;
        height: 16px;
        width: 1px;
        background-color: var(--color-text);
        animation: blink 1s ease-out infinite;
        visibility: hidden;
      }

      @keyframes blink {
        0%,
        70%,
        100% {
          opacity: 1;
        }
        20%,
        50% {
          opacity: 0;
        }
      }

      &.has-value {
        background-color: var(--color-bg-medium);

        .blinker {
          display: none !important;
        }
      }

      &.active {
        z-index: var(--z-active);
        outline-width: 2px;

        .blinker {
          visibility: visible;
        }
      }

      &:not(:first-child) {
        margin-left: -1px;
      }

      &:first-child {
        border-top-left-radius: var(--border-radius-m);
        border-bottom-left-radius: var(--border-radius-m);
      }

      &:last-child {
        border-top-right-radius: var(--border-radius-m);
        border-bottom-right-radius: var(--border-radius-m);
      }
    }
  }

  .vui-otp-input {
    position: absolute;
    inset: 0;
    outline-width: 0px;
    opacity: 0;
    background: transparent;
    z-index: var(--z-mask);
  }
}
