.vui-backdrop {
  --backdrop-offset: 64px;

  z-index: var(--layer-z, var(--z-overlay));
  position: fixed;
  display: block;
  // width: 100dvw;
  // height: 100dvh;
  // top: 0;
  // left: 0;
  height: 100%;
  inset: 0;
  padding: var(--backdrop-offset);
  overflow: hidden auto;
  view-transition-name: none;
  backdrop-filter: blur(1px);
  background-color: rgb(from var(--color-bg-lowered) r g b / 0.75);

  &.child {
    background-color: rgb(from var(--color-bg-lowered) r g b / 0.25);
  }
}

html:has(.vui-backdrop) {
  overflow: hidden;
}

:root.light {
  .vui-backdrop {
    background-color: rgb(from var(--dark-color-bg) r g b / 0.75);

    &.child {
      background-color: rgb(from var(--dark-color-bg) r g b / 0.25);
    }
  }
}
