.vui-tabs {
  display: flex;
  width: 100%;
  gap: 4px;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  position: relative;

  &.vui-tabs-variant-filled {
    background-color: var(--color-bg-raised);
    border-bottom: none;
    z-index: 1;
    border-radius: var(--border-radius-m);
    padding-inline: 4px;

    .vui-tab-underline {
      border-bottom: none;
      background-color: var(--color-bg-lowered);
      top: 4px;
      bottom: 4px;
      z-index: -1;
      border-radius: var(--border-radius-m);
    }
  }

  &.disabled .vui-tab,
  .vui-tab.disabled {
    pointer-events: none;
    color: var(--color-text-lighter);

    &.active {
      color: var(--color-text-lighter) !important;
    }
  }

  &.disabled {
    .vui-tab-underline {
      border-color: var(--color-text-lighter);
    }
  }

  &.expand .vui-tab {
    flex: 1;
  }

  .vui-tab {
    display: flex;
    height: 40px;
    // place-content: center;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: var(--font-size-m);
    position: relative;
    color: var(--color-text-light);
    transition: var(--transition);
    cursor: default;
    gap: var(--space-xs);
    border-radius: var(--border-radius-m);

    svg {
      width: 20px;
      height: 20px;
      color: var(--color-text-light);
    }

    &:hover,
    &.active {
      color: var(--color-text);
    }
  }

  .vui-tab-underline {
    transition: var(--transition);
    display: block;
    border-bottom: 1px solid var(--color-text);
    position: absolute;
    bottom: 0;
  }
}

:root.light {
  .vui-tabs.vui-tabs-variant-filled {
    background-color: var(--color-bg-medium);
  }
}
