.vui-toast-wrapper {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 100%;
  max-width: 392px;

  .vui-toast-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    .vui-toast-item {
      display: flex;
      border: 1px solid var(--color-border);
      border-radius: var(--border-radius-m);
      padding: var(--space-m);
      background-color: var(--color-bg-lowered);
      width: 100%;
      align-items: center;
      gap: var(--space-m);
      box-shadow: var(--box-shadow);

      .vui-toast-item-content {
        flex: 1;

        strong {
          color: var(--color-text);
          margin-bottom: var(--space-xs);
          display: block;
          font-size: var(--font-size-m);

          &:only-child {
            margin: 0;
          }
        }

        p {
          color: var(--color-text-lighter);
          font-size: var(--font-size-s);
        }
      }
    }
  }
}
