.vui-toast-wrapper {
  position: fixed;
  width: 100%;
  max-width: 392px;
  z-index: 9999;

  // Bottom placements
  &.bottom {
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.bottom-start {
    bottom: 32px;
    left: 32px;
  }

  &.bottom-end {
    bottom: 32px;
    right: 32px;
  }

  // Top placements
  &.top {
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
  }

  &.top-start {
    top: 32px;
    left: 32px;
  }

  &.top-end {
    top: 32px;
    right: 32px;
  }

  // Right placements
  &.right {
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.right-start {
    right: 32px;
    top: 32px;
  }

  &.right-end {
    right: 32px;
    bottom: 32px;
  }

  // Left placements
  &.left {
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.left-start {
    left: 32px;
    top: 32px;
  }

  &.left-end {
    left: 32px;
    bottom: 32px;
  }

  .vui-toast-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    .vui-toast-item {
      display: flex;
      border: 1px solid var(--color-border);
      border-radius: var(--border-radius-m);
      padding: var(--space-m);
      background-color: var(--color-bg-lowered);
      width: 100%;
      align-items: center;
      gap: var(--space-m);
      box-shadow: var(--box-shadow);

      .vui-toast-item-content {
        flex: 1;

        strong {
          color: var(--color-text);
          margin-bottom: var(--space-xs);
          display: block;
          font-size: var(--font-size-m);

          &:only-child {
            margin: 0;
          }
        }

        p {
          color: var(--color-text-lighter);
          font-size: var(--font-size-s);
        }
      }
    }
  }
}
