.vui-input-container {
  &.vui-select {
    &.expand {
      .vui-dropdown-trigger-wrap,
      .vui-dropdown-trigger-content {
        width: 100%;
      }
    }

    .vui-select-trigger-container {
      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }
    }

    .vue-select-no-results {
      text-align: center;
      padding-block: var(--space-xs);
    }

    .vui-input-style {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--space-s);

      & > button {
        margin-right: -6px;

        .vui-button-slot svg {
          width: 14px;
          height: 14px;
        }
      }

      &:hover {
        border-color: var(--color-border-strong);
      }
    }
  }
}
