.vui-input-container {
  &.vui-select {
    width: auto;

    &.expand {
      .vui-dropdown-trigger-wrap,
      .vui-dropdown-trigger-content {
        width: 100%;
      }
    }

    &.disabled {
      .vui-input-style {
        cursor: not-allowed;

        &:hover {
          border-color: var(--color-border);
        }
      }
    }

    .vui-select-trigger-container {
      &.has-value span {
        color: var(--color-text);
        font-weight: var(--font-weight-medium);
      }

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }
    }

    .vue-select-no-results {
      text-align: center;
      padding-block: var(--space-xs);
    }

    .vui-input-style {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--space-s);

      & > button {
        margin-right: -6px;

        .vui-button-slot svg {
          color: var(--color-text-light);
        }
      }

      &:hover {
        border-color: var(--color-border-strong);
      }
    }
  }
}

select {
  display: block;
  height: var(--interactive-el-height);
  line-height: var(--interactive-el-height);
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-s);
  padding-inline: var(--space-xs);
  transition: var(--transition-fast);
  z-index: 1;
  font-size: var(--font-size-ms);
  color: var(--color-text);

  &:hover {
    border-color: var(--color-border-strong);
  }
}
