.vui-skeleton {
  animation: pulse 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  background-color: var(--color-border);

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}
