.vui-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 32px;
  width: 100%;

  &:before {
    content: '';
    display: block;
    transform: translateY(-50%);
    width: 100%;
    border-bottom: 1px solid var(--color-border);
  }

  .vui-divider-slot {
    // TODO:
    // It needs to check current background and use that to mask out the line below whatever component is passed in
    // padding-inline: 4px;
  }
}
