@import "../../style/core.scss";

.vui-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:before {
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
  }

  .vui-divider-slot {
    // TODO:
    // It needs to check current background and use that to mask out the line below whatever component is passed in
    padding-inline: 4px;
  }
}