.vui-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 32px;
  width: 100%;

  &.vertical:before {
    border-bottom: none;
    border-right: 1px solid var(--color-border);
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
  }

  &:before {
    content: '';
    display: block;
    transform: translateY(-50%);
    width: 100%;
    border-bottom: 1px solid var(--color-border);
  }

  .vui-divider-slot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & > *:first-child {
      outline: 3px solid var(--color-bg);
    }
  }
}
