.vui-alert {
  display: flex;
  gap: var(--space-s);
  border-radius: var(--border-radius-m);
  padding: var(--space-s);
  font-size: var(--font-size-m);
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid var(--color-border);
  width: 100%;

  .vui-alert-icon {
    width: 22px;
    height: 22px;
  }

  .vui-alert-content,
  .vui-alert-default-content {
    flex: 1;
  }

  .vui-alert-default-content {
    strong {
      display: block;
      font-size: var(--font-size-m);
      margin-bottom: 2px;
    }

    p {
      font-size: var(--font-size-s);
      color: var(--color-text-light);
    }
  }

  .vui-alert-content {
    font-size: var(--font-size-m);
    font-weight: 400;
  }

  &.filled-strong,
  &.filled {
    border: none !important;
  }

  &.vui-alert-variant-neutral {
    .vui-alert-icon path {
      color: var(--color-text-light);
    }

    &.filled {
      background-color: var(--color-bg-raised);
    }

    &.filled-strong {
      background-color: var(--color-text);
      color: var(--color-text-invert);

      .vui-alert-default-content *,
      .vui-alert-icon path {
        color: var(--color-text-invert);
      }
    }
  }

  &.vui-alert-variant-info {
    .vui-alert-icon path {
      color: var(--color-text-blue);
    }

    &.filled {
      background-color: hsla(from var(--color-bg-blue-lowered) h s l / 0.5);
    }

    &.filled-strong {
      background-color: var(--color-bg-blue-raised);
      color: var(--color-text);

      .vui-alert-default-content *,
      .vui-alert-icon path {
        color: var(--color-text);
      }
    }
  }

  &.vui-alert-variant-success {
    .vui-alert-icon path {
      color: var(--color-text-green);
    }

    &.filled {
      background-color: hsla(from var(--color-bg-green-lowered) h s l / 0.4);
    }

    &.filled-strong {
      background-color: var(--color-bg-green-raised);
      color: var(--color-text);

      .vui-alert-default-content *,
      .vui-alert-icon path {
        color: var(--color-text);
      }
    }
  }

  &.vui-alert-variant-warning {
    .vui-alert-icon path {
      color: var(--color-text-yellow);
    }

    &.filled {
      background-color: hsla(from var(--color-bg-yellow-lowered) h s l / 0.6);
    }

    &.filled-strong {
      background-color: var(--color-bg-yellow-raised);
      color: var(--color-text);

      .vui-alert-default-content *,
      .vui-alert-icon path {
        color: var(--color-text);
      }
    }
  }

  &.vui-alert-variant-danger {
    .vui-alert-icon path {
      color: var(--color-text-red);
    }

    &.filled {
      background-color: hsla(from var(--color-bg-red-lowered) h s l / 0.5);
    }

    &.filled-strong {
      background-color: var(--color-bg-red-raised);
      color: var(--color-text);

      .vui-alert-default-content *,
      .vui-alert-icon path {
        color: var(--color-text);
      }
    }
  }
}

:root.light {
  .vui-alert {
    &.filled {
      border: none;

      &.vui-alert-variant-neutral {
        background-color: var(--color-bg-medium);
      }

      &.vui-alert-variant-danger {
        background-color: hsla(from var(--color-bg-red-raised) h s l / 0.15);
      }

      &.vui-alert-variant-warning {
        background-color: hsla(from var(--color-bg-yellow-raised) h s l / 0.2);
      }

      &.vui-alert-variant-success {
        background-color: hsla(from var(--color-bg-green-raised) h s l / 0.15);
      }

      &.vui-alert-variant-info {
        background-color: hsla(from var(--color-bg-blue-raised) h s l / 0.15);
      }
    }

    &.filled-strong {
      &.vui-alert-variant-success,
      &.vui-alert-variant-danger {
        .vui-alert-default-content *,
        .vui-alert-icon path {
          color: var(--color-text-invert);
        }
      }
    }
  }
}
