.vui-alert {
  display: flex;
  gap: var(--space-s);
  border-radius: var(--border-radius-m);
  padding: var(--space-s);
  font-size: var(--font-size-m);
  flex-wrap: nowrap;
  align-items: center;

  .vui-alert-icon {
    width: 22px;
    height: 22px;
  }

  .vui-alert-content,
  .vui-alert-default-content {
    flex: 1;
  }

  .vui-alert-default-content {
    strong {
      display: block;
      font-size: var(--font-size-m);
      margin-bottom: 2px;
    }

    p {
      font-size: var(--font-size-s);
      color: var(--color-text-light);
    }
  }

  .vui-alert-content {
    font-size: var(--font-size-m);
    font-weight: 400;
  }

  &.vui-alert-variant-neutral {
    border: 1px solid var(--color-border);

    .vui-alert-icon path {
      color: var(--color-text-light);
    }

    &.filled {
      background-color: var(--color-bg-raised);
    }
  }

  &.vui-alert-variant-info {
    border: 1px solid var(--color-border-blue);

    .vui-alert-icon path {
      color: var(--color-text-blue);
    }

    &.filled {
      background-color: var(--color-bg-blue-lowered);
    }
  }

  &.vui-alert-variant-success {
    border: 1px solid var(--color-border-green);

    .vui-alert-icon path {
      color: var(--color-text-green);
    }

    &.filled {
      background-color: var(--color-bg-green-lowered);
    }
  }

  &.vui-alert-variant-warning {
    border: 1px solid var(--color-border-yellow);

    .vui-alert-icon path {
      color: var(--color-text-yellow);
    }

    &.filled {
      background-color: var(--color-bg-yellow-lowered);
    }
  }

  &.vui-alert-variant-danger {
    border: 1px solid var(--color-border-red);

    .vui-alert-icon path {
      color: var(--color-text-red);
    }

    &.filled {
      background-color: var(--color-bg-red-lowered);
    }
  }
}

:root.light {
  .vui-alert.vui-alert-variant-danger .vui-alert-icon path,
  .vui-alert.vui-alert-variant-warning .vui-alert-icon path,
  .vui-alert.vui-alert-variant-success .vui-alert-icon path,
  .vui-alert.vui-alert-variant-info .vui-alert-icon path {
    color: var(--color-text);
  }

  .vui-alert.filled .vui-alert-default-content p {
    color: var(--color-text);
  }
}
