@import './text';
@import './checkbox';
@import './select';

.form-error {
  display: block;
  font-size: 1.2rem;
  color: var(--color-red);
  margin-top: 10px;
}

.form-item {
  display: block;
  position: relative;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    @include font(400);
    display: block;
    margin-bottom: 5px;
    font-size: 1.1rem;
    color: var(--color-text-light);
  }
}

form {
  width: 100%;
}
