.form-checkbox {
  display: block;
  margin-bottom: 10px;

  input[type='checkbox'] {
    display: none;

    & + label {
      @include flex(15px);
      cursor: pointer;

      p {
        font-size: 1.4rem;
      }

      .icon {
        @include t();
        color: var(--color-text-lighter);

        svg {
          font-size: 2rem;
        }
      }

      &:hover {
        .icon {
          color: var(--color-text);
        }
      }
    }

    &:checked + label .icon {
      color: var(--color-accent);
    }
  }
}
