.vui-modal {
  width: 100%;
  margin-inline: auto;
  height: 100%;
  position: relative;

  &.centered {
    display: flex;
    align-items: center;
  }

  &.vui-modal-size-s {
    max-width: 440px;
  }

  &.vui-modal-size-m {
    max-width: 620px;
  }

  &.vui-modal-size-l {
    max-width: 728px;
  }

  &.vui-modal-size-screen {
    position: fixed;
    inset: 0;

    & > .vui-card {
      border-radius: 0;
      border: none;
      height: 100vh;
    }
  }

  &.scrollable {
    & > .vui-card {
      display: flex;
      flex-direction: column;
      inline-size: 100%;
      max-height: 100%;

      .vui-card-content {
        flex: 1 1 0%;
        overflow-y: auto;
        // padding-block: none;
      }
    }
  }

  & > .vui-card {
    width: 100%;
    margin-bottom: var(--backdrop-offset);
    box-shadow: var(--box-shadow-strong);
  }
}
