@use 'sass:meta';
// Core of the UI library, it should only contain styles which are relevant to
// the library and each component should import it

// To overwrite any of these styles, simply create a style file and import it
// after this one
@use './reset.scss';
@use './fonts.scss';
@use './theme.scss';

:root {
  color-scheme: dark;

  --container-xs: 360px;
  --container-s: 498px;
  --container-m: 856px;
  --container-l: 1140px;
  --container-xl: 1540px;
  --container-xxl: 1920px;

  --border-radius-xs: 3px;
  --border-radius-s: 5px;
  --border-radius-m: 8px;
  --border-radius-l: 12px;

  --font-size-xxs: 1rem;
  --font-size-xs: 1.15rem;
  --font-size-s: 1.3rem;
  --font-size-m: 1.5rem;
  --font-size-l: 1.8rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.6rem;
  --font-size-xxxl: 3.4rem;
  --font-size-xxxxl: 4.8rem;

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 18px;
  --space-l: 24px;
  --space-xl: 34px;
  --space-xxl: 48px;
  --space-xxxl: 64px;

  --transition-fast: 0.0625s all ease-in-out;
  --transition: 0.125s all cubic-bezier(0.65, 0, 0.35, 1);
  --transition-slow: 0.25s all cubic-bezier(0.65, 0, 0.35, 1);

  --global-font: 'Inter', sans-serif;
  --global-font-mono: 'Geist Mono', 'Courier New', 'Courier', monospace;

  --font-weight-light: 300;
  --font-weight: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --line-height-tight: 1.125em;
  --line-height-title: 1.25em;
  --line-height-base: 1.4em;

  --z-behind: -1;
  --z-default: 1;
  --z-active: 50;
  --z-mask: 75;
  --z-sticky: 100;
  --z-nav: 200;
  --z-overlay: 300;
  --z-popout: 400;
  --z-toast: 500;
  --z-modal: 600;

  --interactive-el-height: 36px;
}

// Disable motion for users who have requested it
@media (prefers-reduced-motion: reduce) {
  :root {
    --transition-fast: 0s all linear;
    --transition: 0s all linear;
    --transition-slow: 0s all linear;
  }
}

:root {
  font-family: var(--global-font);
  font-size: 63.5%;
  position: relative;
  background-color: var(--color-bg);

  overflow-x: hidden;
  width: 100%;
  font-weight: var(--font-weight);

  font-feature-settings: normal;
  font-variation-settings: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;

    &:focus-visible {
      outline: 2px solid var(--color-text);
    }
  }
}

body {
  color: var(--color-text);
  min-height: 100dvh;
}

// Set base icon color
.iconify {
  color: var(--color-text-light);
}

@include meta.load-css('typography.scss');
@include meta.load-css('layout.scss');
@include meta.load-css('animation.scss');
@include meta.load-css('tooltip.scss');
@include meta.load-css('utils.scss');
@include meta.load-css('text.scss');
@include meta.load-css('media-query.scss');
