// Regular
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Inter_18pt-Light.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Inter_18pt-Medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Inter_18pt-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/Inter_18pt-Black.ttf') format('truetype');
}

// Monospace
@font-face {
  font-display: swap;
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/GeistMono-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/GeistMono-SemiBold.ttf') format('truetype');
}
