// Contains basic layout definitions and classes to compose basic layouts

.container {
  display: block;
  margin-inline: auto;
  width: 100%;
  padding-inline: var(--space-m);
  max-width: var(--container-l);
}

.flex-1 {
  flex: 1;
}
