// Container layout styling
$containers: 'xs', 's', 'm', 'l', 'xl', 'xxl';

.container {
  display: block;
  margin-inline: auto;
  width: 100%;
  padding-inline: var(--space-m);
  max-width: var(--container-l);

  @each $container in $containers {
    &.container-#{$container} {
      max-width: var(--container-#{$container});
    }
  }

  &.container-full {
    max-width: 100%;
  }
}

// Layout
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

// Sizes
// Paddings & margins
.mx-auto {
  margin-inline: auto;
}

.my-auto {
  margin-block: auto;
}

.m-auto {
  margin: auto;
}

// Generate layout classes from size styles
$sizes: 'xxs', 'xs', 's', 'm', 'l', 'xl', 'xxl', 'xxxl';

@each $size in $sizes {
  // Margin
  .mb-#{$size} {
    margin-bottom: var(--space-#{$size});
  }

  .mr-#{$size} {
    margin-right: var(--space-#{$size});
  }

  .ml-#{$size} {
    margin-left: var(--space-#{$size});
  }

  .mt-#{$size} {
    margin-top: var(--space-#{$size});
  }

  .mx-#{$size} {
    margin-inline: var(--space-#{$size});
  }

  .my-#{$size} {
    margin-block: var(--space-#{$size});
  }

  .m-#{$size} {
    margin: var(--space-#{$size});
  }

  // Padding
  .pb-#{$size} {
    padding-bottom: var(--space-#{$size});
  }

  .pr-#{$size} {
    padding-right: var(--space-#{$size});
  }

  .pl-#{$size} {
    padding-left: var(--space-#{$size});
  }

  .pt-#{$size} {
    padding-top: var(--space-#{$size});
  }

  .px-#{$size} {
    padding-inline: var(--space-#{$size});
  }

  .py-#{$size} {
    padding-block: var(--space-#{$size});
  }

  .p-#{$size} {
    padding: var(--space-#{$size});
  }

  // Gap
  .g-#{$size} {
    gap: var(--space-#{$size});
  }

  .g-y-#{$size} {
    row-gap: var(--space-#{$size});
  }

  .g-x-#{$size} {
    column-gap: var(--space-#{$size});
  }
}

// Z-index
$zindexes: 0, 10, 20, 30, 40, 50, auto;

@each $zindex in $zindexes {
  .z-#{$zindex} {
    z-index: $zindex;
  }
}
