// Container layout styling
$containers: 'xs', 's', 'm', 'l', 'xl', 'xxl';

.container {
  display: block;
  margin-inline: auto;
  width: 100%;
  padding-inline: var(--space-m);
  max-width: var(--container-l);

  @each $container in $containers {
    &.container-#{$container} {
      max-width: var(--container-#{$container});
    }
  }

  &.container-full {
    max-width: 100%;
  }
}

$sizes: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

@each $size in $sizes {
  $extra: '%';
  .w-#{$size} {
    width: #{$size + $extra} !important;
  }

  .h-#{$size} {
    height: #{$size + $extra} !important;
  }
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

// Layout
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.contents {
  display: contents;
}

// Flex alignment classes
.flex-1 {
  flex: 1;
}

// Horizontal alignment (x-axis)
.x-start {
  justify-self: start;
}

.x-end {
  justify-self: end;
}

.x-center {
  justify-self: center;
}

.x-stretch {
  justify-self: stretch;
}

// Vertical alignment (y-axis)
.y-start {
  align-self: start;
}

.y-end {
  align-self: end;
}

.y-center {
  align-self: center;
}

.y-stretch {
  align-self: stretch;
}

// Sizes
// Paddings & margins
.mx-auto {
  margin-inline: auto;
}

.my-auto {
  margin-block: auto;
}

.m-auto {
  margin: auto;
}

// Generate layout classes from size styles
$sizes: 0, 'xxs', 'xs', 's', 'm', 'l', 'xl', 'xxl', 'xxxl';

@each $size in $sizes {
  // Margin
  .mb-#{$size} {
    margin-bottom: var(--space-#{$size});
  }

  .mr-#{$size} {
    margin-right: var(--space-#{$size});
  }

  .ml-#{$size} {
    margin-left: var(--space-#{$size});
  }

  .mt-#{$size} {
    margin-top: var(--space-#{$size});
  }

  .mx-#{$size} {
    margin-inline: var(--space-#{$size});
  }

  .my-#{$size} {
    margin-block: var(--space-#{$size});
  }

  .m-#{$size} {
    margin: var(--space-#{$size});
  }

  // Padding
  .pb-#{$size} {
    padding-bottom: var(--space-#{$size});
  }

  .pr-#{$size} {
    padding-right: var(--space-#{$size});
  }

  .pl-#{$size} {
    padding-left: var(--space-#{$size});
  }

  .pt-#{$size} {
    padding-top: var(--space-#{$size});
  }

  .px-#{$size} {
    padding-inline: var(--space-#{$size});
  }

  .py-#{$size} {
    padding-block: var(--space-#{$size});
  }

  .p-#{$size} {
    padding: var(--space-#{$size});
  }
}

// Z-index
.z-behind {
  z-index: -1;
}

.z-default {
  z-index: 1;
}

.z-active {
  z-index: 50;
}

.z-mask {
  z-index: 75;
}

.z-sticky {
  z-index: 100;
}

.z-nav {
  z-index: 200;
}

.z-overlay {
  z-index: 300;
}

.z-popout {
  z-index: 400;
}

.z-toast {
  z-index: 500;
}

.z-modal {
  z-index: 600;
}
