$sizes: 'xxs', 'xs', 's', 'ms', 'm', 'l', 'xl', 'xxl', 'xxxl', 'xxxxl';

@each $size in $sizes {
  .text-#{$size} {
    font-size: var(--font-size-#{$size});
  }
}

$colors: 'light', 'lighter', 'lightest', 'red', 'green', 'yellow', 'blue';

.text-color {
  color: var(--color-text) !important;
}

.text-color-accent {
  color: var(--color-accent) !important;
}

.text-color-invert {
  color: var(--color-text-invert) !important;
}

@each $color in $colors {
  .text-color-#{$color} {
    color: var(--color-text-#{$color}) !important;
  }
}

// Font weights

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-extra-bold {
  font-weight: 800;
}

.text-black {
  font-weight: 900;
}

// Text align
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Line truncating

$lines: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

@each $line in $lines {
  .text-overflow-#{$line} {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: $line;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

// White space

.ws-wrap {
  white-space: wrap;
}

.ws-pre {
  white-space: pre;
}

.ws-prewrap {
  white-space: pre-wrap;
}

.ws-nowrap {
  white-space: nowrap;
}

// Some default styles

.vui-label {
  display: block;
  text-align: left;
  margin-bottom: var(--space-xs);
  font-size: var(--font-size-m);
  color: var(--color-text);
}

.vui-hint {
  margin-bottom: var(--space-xs);
  margin-top: -4px;
  color: var(--color-text-lighter);
  font-size: var(--font-size-s);
  display: block;
  text-align: left;
}

.vui-input-errors {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 6px;

  li {
    display: block;
    font-size: var(--font-size-s);
    color: var(--color-text-red);
  }
}
