// Light theme
:root {
  --light-color-bg: oklch(97.31% 0 none);
  --light-color-bg-medium: oklch(94.31% 0 none);
  --light-color-bg-raised: oklch(90.06% 0 none);
  --light-color-bg-lowered: oklch(100% 0 none);

  --light-color-text: oklch(13.44% 0 none);
  --light-color-text-light: oklch(37.15% 0 none);
  --light-color-text-lighter: oklch(47.48% 0 none);
  --light-color-text-lightest: oklch(59.99% 0 none);
  --light-color-text-invert: oklch(97.91% 0 none);

  --light-color-button-gray: oklch(90.67% 0 none);
  --light-color-button-gray-hover: oklch(82.66% 0 none);

  --light-color-button-fill: oklch(15.43% 0 none);
  --light-color-button-fill-hover: oklch(32.5% 0 none);

  --light-color-text-red: oklch(57.65% 0.1872 27.72deg);
  --light-color-bg-red-lowered: oklch(49.65% 0.1638 25.47deg);
  --light-color-bg-red-raised: oklch(57.71% 0.2152 27.33deg);

  --light-color-text-green: oklch(62.92% 0.1787 137.15deg);
  --light-color-bg-green-lowered: oklch(48.78% 0.1444 139.65deg);
  --light-color-bg-green-raised: oklch(58.54% 0.1663 139.54deg);

  --light-color-text-yellow: oklch(63.3% 0.127 81.99deg);
  --light-color-bg-yellow-lowered: oklch(85.39% 0.091 90.1deg);
  --light-color-bg-yellow-raised: oklch(85.94% 0.1422 83.7deg);

  --light-color-text-blue: oklch(65.53% 0.1662 261.63deg);
  --light-color-bg-blue-lowered: oklch(87.6% 0.0602 266.48deg);
  --light-color-bg-blue-raised: oklch(76.4% 0.1203 261.1deg);

  --light-color-border: oklch(83.28% 0 none);
  --light-color-border-strong: oklch(67.97% 0 none);
  --light-color-border-weak: oklch(90.67% 0 none);

  --light-color-accent: oklch(70.31% 0.2018 307.26deg);
  --light-color-bg-accent-lowered: oklch(83.5% 0.07 307.26deg);
  --light-color-bg-accent-raised: oklch(87.5% 0.055 307.26deg);

  --light-box-shadow: 0 2px 12px oklch(13.44% 0 none / 0.085);
  --light-box-shadow-strong: 0 4px 15px oklch(13.44% 0 none / 0.2);
}

// Dark theme
:root {
  --dark-color-bg: oklch(17.76% 0 none);
  --dark-color-bg-medium: oklch(20.02% 0 none);
  --dark-color-bg-raised: oklch(22.64% 0 none);
  --dark-color-bg-lowered: oklch(15.43% 0 none);

  --dark-color-text: oklch(92.8% 0 none);
  --dark-color-text-light: oklch(76.99% 0 none);
  --dark-color-text-lighter: oklch(46.76% 0 none);
  --dark-color-text-lightest: oklch(37.53% 0 none);
  --dark-color-text-invert: oklch(17.76% 0 none);

  --dark-color-button-gray: oklch(30.12% 0 none);
  --dark-color-button-gray-hover: oklch(26.86% 0 none);

  --dark-color-button-fill: oklch(98.51% 0 none);
  --dark-color-button-fill-hover: oklch(86.38% 0 none);

  --dark-color-text-red: oklch(65.35% 0.2027 27.06deg);
  --dark-color-bg-red-lowered: oklch(34.57% 0.1132 25.37deg);
  --dark-color-bg-red-raised: oklch(39.58% 0.1331 25.72deg);

  --dark-color-text-green: oklch(76.4% 0.2109 136.9deg);
  --dark-color-bg-green-lowered: oklch(43.12% 0.1267 137.53deg);
  --dark-color-bg-green-raised: oklch(50.61% 0.162 141.65deg);

  --dark-color-text-yellow: oklch(84.42% 0.1722 84.93deg);
  --dark-color-bg-yellow-lowered: oklch(34.67% 0.0723 77.94deg);
  --dark-color-bg-yellow-raised: oklch(55.37% 0.1158 77.03deg);

  --dark-color-text-blue: oklch(65.53% 0.1662 261.63deg);
  --dark-color-bg-blue-lowered: oklch(25.61% 0.0822 263.41deg);
  --dark-color-bg-blue-raised: oklch(36.4% 0.11 261.17deg);

  --dark-color-border: oklch(27.68% 0 none);
  --dark-color-border-strong: oklch(33.29% 0 none);
  --dark-color-border-weak: oklch(26.03% 0 none);

  --dark-color-accent: oklch(70.31% 0.2018 307.26deg);
  --dark-color-bg-accent-lowered: oklch(40% 0.11 307.26deg);
  --dark-color-bg-accent-raised: oklch(46% 0.095 307.26deg);

  --dark-box-shadow: 0 2px 12px oklch(13.44% 0 none / 0.3);
  --dark-box-shadow-strong: 0 4px 15px oklch(13.44% 0 none / 0.4);
}

:root.light {
  color-scheme: light;

  --color-bg: var(--light-color-bg);
  --color-bg-medium: var(--light-color-bg-medium);
  --color-bg-raised: var(--light-color-bg-raised);
  --color-bg-lowered: var(--light-color-bg-lowered);

  --color-text: var(--light-color-text);
  --color-text-light: var(--light-color-text-light);
  --color-text-lighter: var(--light-color-text-lighter);
  --color-text-lightest: var(--light-color-text-lightest);
  --color-text-invert: var(--light-color-text-invert);

  --color-button-gray: var(--light-color-button-gray);
  --color-button-gray-hover: var(--light-color-button-gray-hover);

  --color-button-fill: var(--light-color-button-fill);
  --color-button-fill-hover: var(--light-color-button-fill-hover);

  --color-text-red: var(--light-color-text-red);
  --color-bg-red-lowered: var(--light-color-bg-red-lowered);
  --color-bg-red-raised: var(--light-color-bg-red-raised);
  --color-border-red: var(--light-color-border-red);

  --color-text-green: var(--light-color-text-green);
  --color-bg-green-lowered: var(--light-color-bg-green-lowered);
  --color-bg-green-raised: var(--light-color-bg-green-raised);

  --color-text-yellow: var(--light-color-text-yellow);
  --color-bg-yellow-lowered: var(--light-color-bg-yellow-lowered);
  --color-bg-yellow-raised: var(--light-color-bg-yellow-raised);
  --color-border-yellow: var(--light-color-border-yellow);

  --color-text-blue: var(--light-color-text-blue);
  --color-bg-blue-lowered: var(--light-color-bg-blue-lowered);
  --color-bg-blue-raised: var(--light-color-bg-blue-raised);
  --color-border-blue: var(--light-color-border-blue);

  --color-border: var(--light-color-border);
  --color-border-strong: var(--light-color-border-strong);
  --color-border-weak: var(--light-color-border-weak);

  --color-accent: var(--light-color-accent);
  --color-bg-accent-lowered: var(--light-color-bg-accent-lowered);
  --color-bg-accent-raised: var(--light-color-bg-accent-raised);

  --box-shadow: var(--light-box-shadow);
  --box-shadow-strong: var(--light-box-shadow-strong);
}

:root.dark {
  color-scheme: dark;

  --color-bg: var(--dark-color-bg);
  --color-bg-medium: var(--dark-color-bg-medium);
  --color-bg-raised: var(--dark-color-bg-raised);
  --color-bg-lowered: var(--dark-color-bg-lowered);

  --color-text: var(--dark-color-text);
  --color-text-light: var(--dark-color-text-light);
  --color-text-lighter: var(--dark-color-text-lighter);
  --color-text-lightest: var(--dark-color-text-lightest);
  --color-text-invert: var(--dark-color-text-invert);

  --color-button-gray: var(--dark-color-button-gray);
  --color-button-gray-hover: var(--dark-color-button-gray-hover);

  --color-button-fill: var(--dark-color-button-fill);
  --color-button-fill-hover: var(--dark-color-button-fill-hover);

  --color-text-red: var(--dark-color-text-red);
  --color-bg-red-lowered: var(--dark-color-bg-red-lowered);
  --color-bg-red-raised: var(--dark-color-bg-red-raised);
  --color-border-red: var(--dark-color-border-red);

  --color-text-green: var(--dark-color-text-green);
  --color-bg-green-lowered: var(--dark-color-bg-green-lowered);
  --color-bg-green-raised: var(--dark-color-bg-green-raised);

  --color-text-yellow: var(--dark-color-text-yellow);
  --color-bg-yellow-lowered: var(--dark-color-bg-yellow-lowered);
  --color-bg-yellow-raised: var(--dark-color-bg-yellow-raised);
  --color-border-yellow: var(--dark-color-border-yellow);

  --color-text-blue: var(--dark-color-text-blue);
  --color-bg-blue-lowered: var(--dark-color-bg-blue-lowered);
  --color-bg-blue-raised: var(--dark-color-bg-blue-raised);
  --color-border-blue: var(--dark-color-border-blue);

  --color-border: var(--dark-color-border);
  --color-border-strong: var(--dark-color-border-strong);
  --color-border-weak: var(--dark-color-border-weak);

  --color-accent: var(--dark-color-accent);
  --color-bg-accent-lowered: var(--dark-color-bg-accent-lowered);
  --color-bg-accent-raised: var(--dark-color-bg-accent-raised);

  --box-shadow: var(--dark-box-shadow);
  --box-shadow-strong: var(--dark-box-shadow-strong);
}
