/*
This is a trick in which you can add simply tooltips to an element without any additional html.
Simple add data-title-_position_="Hello world" and hover the element.

Available tooltip positions:
*/

[data-title-left],
[data-title-right],
[data-title-bottom],
[data-title-bottom-left],
[data-title-bottom-right],
[data-title-top],
[data-title-top-left],
[data-title-top-right] {
  position: relative;

  &:before {
    font-family: var(--font);
    font-weight: var(--font-weight-regular);
    background-color: var(--color-button-gray);
    color: var(--color-text) !important;
    box-shadow: var(--box-shadow-strong);

    font-size: var(--font-size-m);
    position: absolute;
    padding: 4px 8px;
    line-height: 1.3em;
    border-radius: var(--border-radius-m);
    transition: var(--transition);

    max-width: 512px;
    opacity: 0;
    cursor: default;
    z-index: var(--z-behind);
    visibility: hidden;
    pointer-events: none;
    max-width: 256px;
    width: max-content;
  }

  &:hover {
    &:before {
      visibility: visible;
      opacity: 1;
      z-index: var(--z-popout);
    }
  }
}

:root.light {
  [data-title-left],
  [data-title-right],
  [data-title-bottom],
  [data-title-bottom-left],
  [data-title-bottom-right],
  [data-title-top],
  [data-title-top-left],
  [data-title-top-right] {
    &:before {
      background-color: var(--color-bg-lowered);
    }
  }
}

[data-title-left]:before {
  content: attr(data-title-left);
  top: 50%;
  transform: translateY(-50%);
  z-index: var(--z-popout);
  right: calc(100% + 4px);
}

[data-title-right]:before {
  content: attr(data-title-right);
  top: 50%;
  transform: translateY(-50%);
  z-index: var(--z-popout);
  left: calc(100% + 4px);
}

[data-title-bottom]:before,
[data-title-bottom-left]:before,
[data-title-bottom-right]:before {
  content: attr(data-title-bottom);
  top: calc(100% + 4px);
  transform: translateX(-50%);
  left: 50%;
}

[data-title-bottom-left]:before {
  content: attr(data-title-bottom-left);
  transform: unset;
  left: 0;
}

[data-title-bottom-right]:before {
  content: attr(data-title-bottom-right);
  transform: unset;
  left: unset;
  right: 0;
}

[data-title-top]:before,
[data-title-top-left]:before,
[data-title-top-right]:before {
  content: attr(data-title-top);
  bottom: calc(100% + 4px);
  transform: translateX(-50%);
  left: 50%;
}

[data-title-top-left]:before {
  content: attr(data-title-top-left);
  transform: unset;
  left: 0;
}

[data-title-top-right]:before {
  content: attr(data-title-top-right);
  transform: unset;
  left: unset;
  right: 0;
}

// Hover

[data-title-left]:hover:before {
  right: calc(100% + 10px);
}

[data-title-right]:hover:before {
  left: calc(100% + 10px);
}

[data-title-top]:hover:before,
[data-title-top-left]:hover:before,
[data-title-top-right]:hover:before {
  bottom: calc(100% + 10px);
}

[data-title-bottom]:hover:before,
[data-title-bottom-left]:hover:before,
[data-title-bottom-right]:hover:before {
  top: calc(100% + 10px);
}
