// Base style definitions

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: var(--font-weight-extrabold);
  line-height: var(--line-height-title);
}

h1 {
  font-size: var(--font-size-xxxxl);
}
h2 {
  font-size: var(--font-size-xxxl);
}
h3 {
  font-size: var(--font-size-xxl);
}
h4 {
  font-size: var(--font-size-xl);
}
h5 {
  font-size: var(--font-size-l);
}
h6 {
  font-size: var(--font-size-m);
}

li,
figcaption,
table th,
table td,
blockquote,
p {
  font-size: var(--font-size-m);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight);

  a {
    color: var(--color-text);
    text-decoration: underline;
    text-underline-offset: 3px;

    &:hover {
      text-decoration: none;
    }
  }

  strong,
  b {
    font-weight: var(--font-weight-bold);
  }

  i,
  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  s,
  del {
    text-decoration: line-through;
  }
}

code {
  display: inline-block;
  font-family: var(--font-mono);
  border-radius: var(--border-radius-s);
  background-color: var(--color-bg-raised);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  padding: 0px 4px;
  margin-inline: 1px;
  font-weight: var(--font-weight);
  font-size: var(--font-size-s);
  min-height: 22px;
  line-height: var(--line-height-base);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--color-border);
}

span,
strong,
p {
  font-size: var(--font-size-m);
}

small {
  font-size: var(--font-size-s);
}

sub,
sup {
  font-size: 0.8em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

mark {
  background-color: var(--color-bg-highlighted, rgba(255, 235, 59, 0.3));
  padding: 2px 4px;
  border-radius: var(--border-radius-s);
}

blockquote {
  display: block;
  padding-block: var(--space-s);
  padding-left: var(--space-l);
  border-left: 3px solid var(--color-border);
  line-height: var(--line-height-base);

  & > * {
    margin-top: var(--space-s) !important;

    &:first-child {
      margin-top: 0 !important;
    }
  }
}

pre {
  font-family: var(--font-mono);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight);
  line-height: var(--line-height-base);
  padding: var(--space-m);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-m);
  white-space: pre-wrap;
  background-color: var(--color-bg-raised);
  z-index: var(--z-default);
  position: relative;

  code {
    min-height: unset;
    padding: unset;
    border-radius: unset;
    border: unset;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    background-color: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  &[data-lang]::after {
    content: attr(data-lang);
    font-family: var(--font);
    display: block;
    position: absolute;
    font-weight: var(--font-weight-medium);
    top: 6px;
    right: 6px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    border-radius: var(--border-radius-s);
    font-size: var(--font-size-xs);
    color: var(--color-text-light);
    border: 1px solid var(--color-border);
    background-color: var(--color-bg-lowered);
  }
}

table {
  text-indent: 0;
  border-collapse: separate;
  border-spacing: 0;
  overflow-x: auto;
  max-width: 100%;
  width: 100%;

  th,
  td {
    text-align: left;
    padding-inline: var(--space-m);
    padding-block: var(--space-s);
    min-width: 80px;
    font-size: var(--font-size-m);
    line-height: var(--line-height-base);
    font-variant-numeric: tabular-nums;
    vertical-align: top;
    border-right: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);

    &:first-child {
      border-left: 1px solid var(--color-border);
    }
  }

  th {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    background-color: var(--color-bg-lowered);
  }

  thead tr:first-child,
  tbody:first-child tr:first-child {
    th,
    td {
      border-top: 1px solid var(--color-border);

      &:first-child {
        border-top-left-radius: var(--border-radius-s);
        border-bottom-left-radius: 0;
      }

      &:last-child {
        border-top-right-radius: var(--border-radius-s);
        border-bottom-right-radius: 0;
      }
    }
  }

  tr:last-child {
    th,
    td {
      &:first-child {
        border-bottom-left-radius: var(--border-radius-s);
      }
      &:last-child {
        border-bottom-right-radius: var(--border-radius-s);
      }
    }
  }

  &.vui-table-inline {
    width: auto;
  }

  &.vui-table-alternating {
    // Horizontal table
    &:has(thead) {
      tbody tr:nth-child(even) td,
      tbody tr:nth-child(even) th {
        background-color: var(--color-bg-medium);
      }
    }

    // Vertical table
    &:not(:has(thead)) {
      td:nth-child(even) {
        background-color: var(--color-bg-medium);
      }
    }
  }

  &.vui-table-no-borders {
    thead th,
    td {
      border-bottom: 1px solid var(--color-border);

      &:not(:last-child) {
        border-right: none;
      }
    }

    tr:not(:last-child) td {
      border-bottom: none;
    }

    tbody th {
      border-right: 1px solid var(--color-border) !important;
    }

    tbody tr:not(:last-child) th {
      border-bottom: none;
    }
  }
}

dl {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9ch, max-content));
  column-gap: var(--space-l);

  padding: var(--space-m);
  border-radius: var(--border-radius-m);
  border: 1px solid var(--color-border);

  dt,
  dd {
    padding-inline: var(--space-m);
    margin-bottom: var(--space-l);
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  dt {
    padding-left: 0;
    color: var(--color-text-light);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-m);
    grid-column-start: 1;
  }

  dd {
    color: var(--color-text);
    font-size: var(--font-size-m);
  }
}

article {
  width: 100%;
}

article,
.typeset {
  & > :first-child {
    margin-top: 0 !important;
  }

  ol,
  ul {
    ol,
    ul {
      margin-top: var(--space-s) !important;
      margin-bottom: var(--space-m);
    }

    li {
      margin-bottom: var(--space-s);
      position: relative;
      padding-left: 28px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  ul > li::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 12px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--color-text-lighter);
  }

  ol {
    counter-reset: ol;
    & > li::before {
      counter-increment: ol;
      content: counter(ol) '.';
      position: absolute;
      top: 0;
      left: 8px;
      color: var(--color-text-light);
    }
  }

  // Heading Logic
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-s);

    // If a heading is immediately followed by another heading,
    // the second one uses regular spacing instead of the large chunk gap
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: var(--space-m) !important;
    }

    a {
      color: inherit;
      text-decoration: none;
      position: relative;

      &:hover:before {
        opacity: 1;
      }

      &:before {
        content: '#';
        opacity: 0;
        transition: var(--transition-fast);
        position: absolute;
        right: calc(100% + 4px);
        top: 50%;
        transform: translateY(-50%);
        color: var(--color-accent);
      }
    }
  }

  dl,
  pre,
  img,
  table,
  ol,
  ul,
  blockquote,
  p {
    margin-top: var(--space-m);
    &:only-child {
      margin-top: 0;
    }
  }

  li > :first-child,
  blockquote > :first-child,
  dd > :first-child,
  td > :first-child,
  th > :first-child {
    margin-top: 0;
  }

  hr {
    margin-block: var(--space-l);
  }

  img {
    border-radius: var(--border-radius-m);
    overflow: hidden;
    max-width: 100%;
  }

  figure {
    img {
      margin-bottom: var(--space-xs);
    }
    figcaption {
      text-align: center;
      font-size: var(--font-size-s);
      color: var(--color-text-lighter);
    }
  }
}
