.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: transparent;
  outline-offset: 0;
}

mark {
  background-color: var(--color-text-yellow);
  color: var(--color-text-invert);
  padding: 1px;
  border-radius: 2px;
}

// Small CSS things
.counter {
  //
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: var(--font-size-xs);
  color: var(--color-text);
  background-color: var(--color-button-gray-hover);
  font-weight: 400;
}
