.carousel {
  .overflow-content {
    cursor: grab;
    user-select: none;

    &.is-dragging {
      cursor: grabbing;
      scroll-behavior: auto;
    }
  }

  &.is-snap .overflow-content {
    scroll-snap-type: x mandatory;

    > * {
      scroll-snap-align: start;
    }
  }
}
