.vui-checkbox {
  --checkbox-size: 24px;

  &.checked {
    .vui-checkbox-icon svg {
      color: var(--color-text);
    }

    &.accent .vui-checkbox-icon svg {
      color: var(--color-accent);
    }
  }

  &.disabled {
    .vui-checkbox-icon {
      opacity: 0.25;
      cursor: not-allowed;
    }

    input + label .vui-checkbox-content {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  .vui-checkbox-icon {
    width: var(--checkbox-size);
    height: var(--checkbox-size);

    svg {
      width: 100%;
      height: 100%;
      color: var(--color-text);
    }
  }

  input {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    outline: none !important;
    opacity: 0;

    &:focus-visible + label .vui-checkbox-icon {
      outline: 2px solid var(--color-text);
      border-radius: var(--border-radius-s);
      cursor: default;
    }

    & + label {
      display: grid;
      grid-template-columns: 20px 1fr;
      gap: 10px;
      font-size: var(--font-size-m);
      color: var(--color-text);
      user-select: none;
      align-items: baseline;

      .vui-checkbox-content {
        display: block;

        &:is(p) {
          display: flex;
          align-items: center;
          min-height: var(--checkbox-size);
          font-size: var(--font-size-ms);
          align-self: flex-start;
          // line-height: var(--checkbox-size);
        }
      }
    }
  }
}
