.vui-button-group {
  .vui-button {
    z-index: var(--z-default);

    &:hover {
      z-index: var(--z-active);
    }

    &:not(:first-child, :last-child) {
      border-radius: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      margin-right: 0px;
    }

    &:only-child {
      border-radius: var(--border-radius-s) !important;
    }
  }

  &.vertical {
    .vui-button {
      width: 100%;

      &:only-child {
        border-radius: var(--border-radius-s) !important;
      }

      &:not(:first-child, :last-child) {
        border-radius: 0;
      }

      &:first-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }
}
