.vui-clipboard-copy-wrap {
  display: inline-block;
  position: relative;
}

.vui-clipboard-tooltip {
  padding: 6px 8px;
  border-radius: var(--border-radius-s);
  background-color: var(--color-border);
  font-size: var(--font-size-s);
  color: var(--color-text);
  box-shadow: var(--box-shadow);
  z-index: 1000;

  svg path {
    color: var(--color-text);
  }
}
