.vui-clipboard-copy-wrap {
  display: inline-block;
  position: relative;
}

.vui-clipboard-tooltip {
  padding: 6px 8px;
  border-radius: var(--border-radius-s);
  background-color: var(--color-bg-raised);
  font-size: var(--font-size-m);
  color: var(--color-text);
  box-shadow: var(--box-shadow);
  z-index: 1000;

  svg path {
    color: var(--color-text);
  }
}

:root.light {
  .vui-clipboard-tooltip {
    background-color: var(--color-bg);
    box-shadow: var(--box-shadow-strong);
  }
}
