// TODO: flesh out better
.vui-sidebar-layout {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  position: relative;

  main {
    flex: 1;
    padding: 2rem;
  }

  .vui-sidebar-outer {
    transition: var(--transition-slow);

    &:not(.open) {
      width: 0px !important;
    }
  }
}

.vui-sidebar {
  --vui-sidebar-float-offset: 8px;

  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  height: 100vh;
  width: 224px;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: var(--color-bg-raised);
  border-right: 1px solid var(--color-border);
  transition: var(--transition-slow);
  transform: translateX(-100%);

  &.open {
    transform: translateX(0);

    &.floaty {
      transform: translateX(0);
    }
  }

  &.floaty {
    top: var(--vui-sidebar-float-offset);
    left: var(--vui-sidebar-float-offset);
    bottom: var(--vui-sidebar-float-offset);
    height: calc(100vh - calc(var(--vui-sidebar-float-offset) * 2));
    border-radius: var(--border-radius-m);
    border: 1px solid var(--color-border);
    transform: translateX(calc(-100% - calc(var(--vui-sidebar-float-offset) * 2)));
  }

  .vui-sidebar-header,
  .vui-sidebar-footer,
  .vui-sidebar-content .vui-sidebar-content-wrap {
    padding: var(--space-m);
  }

  .vui-sidebar-header:not(:only-child) {
    padding-bottom: 0;
  }

  .vui-sidebar-footer:not(:only-child) {
    padding-top: 0;
  }

  .vui-sidebar-content {
    flex: 1;
    position: relative;

    .vui-sidebar-content-wrap {
      position: absolute;
      inset: 0;
      overflow-y: auto;
    }
  }
}
