.vui-sheet {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  max-height: 100%;
  height: 100%;
  position: absolute;
  // background-color: var(--color-bg);
  // border-color: var(--color-border);
  // height: 100dvh;
  & > .vui-card-content {
    flex: 1 1 0%;
    overflow-y: auto;
  }

  &.vui-sheet-position-top {
    top: 0;
    border-bottom: 1px solid var(--color-border);
    height: auto;
    border-bottom-right-radius: var(--border-radius-l);
    border-bottom-left-radius: var(--border-radius-l);
  }

  &.vui-sheet-position-bottom {
    bottom: 0;
    border-top: 1px solid var(--color-border);
    height: auto;
    border-top-right-radius: var(--border-radius-l);
    border-top-left-radius: var(--border-radius-l);
  }

  &.vui-sheet-position-right {
    right: 0;
    top: 0;
    border-left: 1px solid var(--color-border);
    border-top-left-radius: var(--border-radius-l);
    border-bottom-left-radius: var(--border-radius-l);
  }

  &.vui-sheet-position-left {
    left: 0;
    top: 0;
    border-right: 1px solid var(--color-border);
    border-top-right-radius: var(--border-radius-l);
    border-bottom-right-radius: var(--border-radius-l);
  }

  &.vui-sheet-position-top,
  &.vui-sheet-position-bottom {
    max-height: 35dvh;
    width: 100%;
  }
}
