.vui-popout {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  min-width: 80px;
  background-color: var(--color-bg-raised);
  border-radius: var(--border-radius-m);
  z-index: 1000;
}
