.vui-table-container {
  display: block;
  width: 100%;

  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-m);

  &.fixed table {
    table-layout: fixed;
  }

  &.nowrap table tr {
    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    // table-layout: fixed;
    text-indent: 0;
    border: none;
    overflow: unset;

    tr {
      border: none;
    }

    th,
    td {
      font-size: var(--font-size-ms);
      border: none;
      border-left: none !important;
      border-bottom: 1px solid var(--color-border);
    }

    th {
      .vui-table-th-content {
        color: var(--color-text-light);
        font-size: var(--font-size-xs);
        text-transform: uppercase;
        font-weight: 500;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--space-xs);

        .vui-table-sort-button:not(.active) svg path {
          color: var(--color-text-lighter);
        }
      }
    }
  }

  .vui-table-pagination-wrap {
    // margin-top: var(--space-s);
    padding: var(--space-s) var(--space-m);

    p {
      font-size: var(--font-size-s);
      color: var(--color-text-lighter);
    }
  }
}
