.vui-table-container {
  display: block;
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-m);

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-indent: 0;
    border: none;

    tr {
      border: none;
    }

    th,
    td {
      font-size: var(--font-size-ms);
      border: none;
      border-left: none !important;
      border-bottom: 1px solid var(--color-border);
    }

    th {
      color: var(--color-text-light);
      font-size: var(--font-size-s);

      .vui-table-th-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--space-s);

        .vui-table-sort-button svg path {
          color: var(--color-text-light);
        }
      }
    }
  }

  .vui-table-pagination-wrap {
    // margin-top: var(--space-s);
    padding: var(--space-s) var(--space-m);

    p {
      font-size: var(--font-size-s);
      color: var(--color-text-lighter);
    }
  }
}
