.vui-avatar {
  --avatar-size: 36px;

  &.vui-avatar-size-s {
    --avatar-size: 28px;

    strong {
      font-size: var(--font-size-xs);
    }
  }

  &.vui-avatar-size-l {
    --avatar-size: 48px;

    strong {
      font-size: var(--font-size-l);
    }
  }

  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--color-bg-raised);
  font-weight: 500;

  svg {
    color: var(--color-text-light);
    font-size: inherit;
  }

  strong {
    display: block;
    font-size: var(--font-size-m);
    line-height: 1;
  }

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }

  img[src=''] {
    display: none;
  }
}
