.vui-avatar-group {
  --vui-avatar-group-border: var(--color-bg);

  &.cluster {
    gap: 0 !important;

    &.column > *:not(:first-child) {
      display: flex;
      margin-top: -8px;
      margin-left: 0;
    }

    & > * {
      z-index: 1;

      &:not(:first-child) {
        margin-left: -8px;
      }

      &:hover {
        z-index: 2;
      }

      &:is(.vui-avatar),
      .vui-avatar {
        border: 3px solid var(--vui-avatar-group-border) !important;
      }
    }
  }
}
