:where(.vui-avatar) {
  --vui-avatar-size: var(--interactive-el-height);
  --vui-avatar-font-size: var(--font-size-s);
  --vui-avatar-border-radius: 100%;

  &.vui-avatar-size-s {
    --vui-avatar-size: 28px;
    --vui-avatar-font-size: var(--font-size-xs);
  }

  &.vui-avatar-size-m {
    --vui-avatar-size: var(--interactive-el-height);
    --vui-avatar-font-size: var(--font-size-s);
  }

  &.vui-avatar-size-l {
    --vui-avatar-size: 48px;
    --vui-avatar-font-size: var(--font-size-m);
  }

  width: var(--vui-avatar-size, var(--interactive-el-height));
  height: var(--vui-avatar-size, var(--interactive-el-height));
  border-radius: var(--vui-avatar-border-radius, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--color-bg-raised);
  font-weight: var(--font-weight-medium);
  flex-shrink: 0;
  font-size: var(--vui-avatar-font-size, var(--font-size-s));

  svg,
  .iconify {
    color: var(--color-text-light);
    font-size: inherit;
  }

  & > * {
    font-size: inherit;
    line-height: 1;
  }

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }

  img[src=''] {
    display: none;
  }
}
