.vui-breadcrumbs {
  display: flex;
  gap: var(--space-s);
  align-items: center;

  .vui-breadcrumb-custom-separator {
    color: var(--color-text-lighter);
    font-size: var(--font-size-m);
  }

  li {
    font-size: var(--font-size-m);
    color: var(--color-text-lighter);

    .vui-breadcrumb-text-simple {
      color: var(--color-text-lighter);
    }

    .vui-breadcrumb-link {
      color: var(--color-text);
      background: transparent;
      text-underline-offset: 4px;
      text-decoration: none;
      padding-inline: 0;

      &:hover {
        text-decoration: underline;
      }
      // cursor: pointer;
    }
  }
}
