.vui-tooltip {
  padding: var(--space-xs) var(--space-s);
  max-width: 512px;
  background-color: var(--color-bg-raised);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight);
  color: var(--color-text);
  text-transform: none;
}
