/*
Utility layout classes
*/

.flex {
  @include flex(15px);

  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }

  &.gap-8 {
    gap: 10px;
  }
}

.flex-1 {
  flex: 1;
}

.w-100 {
  width: 100%;
}

.container {
  max-width: 1148px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;

  &.c-mid {
    max-width: 896px;
  }

  &.c-small {
    max-width: 680px;
  }
}
