/*
This is the styling for toast notifications
*/
.toasts-wrap {
  --toast-max-width: 592px;
  --toast-min-width: 256px;

  display: block;
  position: fixed;
  bottom: 40px;
  right: 20px;
  max-width: var(--toast-max-width);
  z-index: 1000000;

  ul {
    display: block;
    width: 100%;

    li {
      @include flex(0, $justify: flex-end);
      width: 100%;
      margin-bottom: 10px;

      .toast-item {
        @include radius(var(--radius-sm));
        display: block;
        padding: 10px 15px;
        min-width: var(--toast-min-width);
        max-width: var(--toast-max-width);
        position: relative;
        background-color: var(--color-bg-light);
        padding-left: 25px;
        box-shadow: var(--shadow);

        &.type-text,
        &.has-action {
          padding-left: 15px;

          &:before {
            display: none;
          }
        }

        &:before {
          content: '';
          @include radius(var(--radius-sm));
          display: block;
          position: absolute;
          left: 10px;
          top: 10px;
          height: 15px;
          width: 4px;
        }

        &.type-error {
          &:before {
            background-color: var(--color-red);
          }
        }
        &.type-success {
          &:before {
            background-color: var(--color-green);
          }
        }
        &.type-info {
          &:before {
            background-color: var(--color-blue);
          }
        }

        p {
          display: block;
          margin-bottom: 4px;
          color: rgb(var(--color-text));

          &:only-child {
            margin-bottom: 0;
          }
        }

        .button {
          @include font(600);
          font-size: 1.3rem;
          letter-spacing: 0.05em;
          padding: 0 10px;
          height: 32px;
          line-height: 32px;
          text-transform: uppercase;
          color: rgb(var(--color-text-light));

          &:before {
            background-color: rgb(var(--color-text), 0.075);
          }
        }
      }
    }
  }
}
