.vui-accordion {
  width: 100%;
  transition: var(--transition);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 0;

  &.is-unstyled {
    border-bottom: none;

    .vui-accordion-header {
      padding: unset;
      text-decoration: unset;

      &:hover {
        text-decoration: unset;
      }
    }
  }

  &.is-card {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-m);

    &.open {
      padding-bottom: 0;

      .vui-accordion-header {
        border-block-width: 1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .vui-accordion-header {
      padding-inline: var(--space-m);
      border-bottom: 0px solid var(--color-border);
      text-decoration: inherit;
      border-radius: var(--border-radius-m);

      &:hover {
        text-decoration: inherit;
        text-underline-offset: inherit;
        background-color: var(--color-button-gray);
      }
    }

    .vui-accordtion-content-inner {
      padding: var(--space-m);
    }
  }

  &.open {
    &:not(.is-unstyled) {
      padding-bottom: var(--space-m);

      .vui-accordion-header svg {
        transform: rotate(180deg);
      }
    }

    .vui-accordion-content {
      visibility: visible;
    }
  }

  .vui-accordion-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-m) 0;
    color: pointer;
    font-size: var(--font-size-m);
    font-weight: 500;
    color: var(--color-text);
    border-radius: var(--border-radius-m);

    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }

    svg {
      transition: var(--transition);
      color: var(--color-text-light);
    }
  }

  .vui-accordion-content {
    transition: var(--transition-slow);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    font-size: var(--font-size-m);
  }
}
