:root {
  --dark-color-bg: #000;

  --border-radius-m: 0px;
  --border-radius-s: 0px;

  --dark-color-accent: #c32ee1;
}

.vui-tabs .vui-tab-underline {
  border-bottom-width: 1px;
  bottom: -1px;
}

pre {
  border: none;
  background-color: var(--color-bg-lowered);
  line-height: 1.4em;
}
