:root {
  --dark-color-bg: #000;
  --dark-color-accent: #e46aff;
}

table {
  td,
  th {
    border-radius: 0 !important;
  }
}

.vui-tabs .vui-tab-underline {
  border-bottom-width: 1px;
  bottom: -1px;
}

.vui-dropdown-item.disabled {
  opacity: 0.4;
}

pre {
  border: none;
  background-color: var(--color-bg-lowered);
  line-height: var(--line-height-base);
}

p {
  color: var(--color-text-light);
}

.typeface {
  code {
    font-size: var(--font-size-s);
  }

  table {
    width: 100%;

    * {
      border-right: none !important;
      border-left: none !important;
    }

    th {
      color: var(--color-text-lighter) !important;
      font-weight: var(--font-weight-semibold);
    }

    td:first-child {
      code {
        color: var(--color-text-accent);
        background-color: var(--color-bg-accent-lowered);
        border: none;
      }
    }

    td {
      padding-block: var(--space-l);

      code {
        display: inline-block;
        margin-bottom: var(--space-xs);
      }
    }
  }
}
