:root {
  --dark-color-bg: #000;

  --border-radius-m: 0px;
  --border-radius-s: 0px;

  --dark-color-accent: #c32ee1;
}

.vui-tabs .vui-tab-underline {
  border-bottom-width: 1px;
  bottom: -1px;
}

pre {
  border: none;
  background-color: var(--color-bg-lowered);
  line-height: 1.4em;
}

p {
  color: var(--color-text-light);
}

.typeface {
  table {
    width: 100%;

    * {
      border-right: none !important;
      border-left: none !important;
    }

    th {
      color: var(--color-text-lighter) !important;
      font-weight: var(--font-weight-semibold);
    }

    td:first-child {
      code {
        color: var(--color-text-accent);
        background-color: var(--color-bg-accent-lowered);
        border: none;
      }
    }

    th,
    td {
      padding-block: var(--space-l);
    }
  }
}
