.vui-kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  border-radius: var(--border-radius-xs);
  font-size: var(--font-size-xs);
  padding: 0 4px;
  transition: var(--transition-fast);
  font-weight: var(--font-weight-medium);
  background-color: var(--color-button-gray);
  color: var(--color-text-light);
  color: contrast-color(var(--color-button-gray));
  border: 1px solid var(--color-border);

  &.active {
    transform: translateY(2px);
    color: var(--color-text-invert);
    background-color: var(--color-button-fill);
    color: contrast-color(var(--color-button-fill));
  }
}

:root.dark .vui-kbd {
  background-color: var(--color-bg-raised);
  color: var(--color-text-light);
  color: contrast-color(var(--color-bg-raised));
}
