.vui-kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-radius: var(--border-radius-xs);
  font-size: var(--font-size-s);
  padding: 0 4px;
  transition: var(--transition-fast);
  font-weight: 600;
  background-color: var(--color-text);
  color: var(--color-text-invert);

  &.active {
    transform: translateY(2px);
    background-color: var(--light-color-bg-accent-raised);
  }
}

:root.light {
  .vui-kbd.active {
    background-color: var(--light-color-bg-accent-lowered);
    color: var(--color-accent);
  }
}
