.vui-slider {
  --slider-handle-size: 24px;

  display: block;
  height: var(--interactive-el-height);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(var(--slider-handle-size) / 2);
    right: calc(var(--slider-handle-size) / 2);
    // width: 100%;
    height: 4px;
    background-color: var(--color-border-strong);
    transform: translateY(-50%);
    border-radius: 2px;
  }

  .vui-slider-handle {
    display: block;
    background-color: var(--color-text-lighter);
    width: var(--slider-handle-size);
    height: var(--slider-handle-size);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 999px;
    will-change: left, background-color;

    &:hover {
      background-color: var(--color-text-light);
    }

    &:active {
      cursor: grabbing;
    }
  }
}
